<h1>Your item, '<%= @bid_item.title %>', has been sold.</h1>
<p>The winner bid amount was <b>$ <%= @bid_item.highest_bid.bid_amount %></b> </p>
<p>Please login to Osprey to proceed further</p>

<hr />

<h3>User Details</h3>
<b>User Email: </b><%= @winner.email %>
