<h1>Congratulations</h1>
<p>You have won the item <b><%= @bid_item.title %></b></p>
<p>You bid was <b>$ <%= @bid_item.highest_bid.bid_amount %></b> </p>
<p>Please login to Osprey to proceed further</p>

<hr />

<h3>Item Description</h3>
<p><%= @bid_item.body %></p>
