<div id="login_status">
  <% if !current_user.nil? %>
  	<%= link_to "Logged in as #{current_user.email}.", edit_user_registration_path %> | 
	<%= link_to "Logout", destroy_user_session_path %>
  <% else %>
    <%= link_to "Login", new_user_session_path %> | 
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
</div>