<ul>
	<li><%= link_to "Bid Items", bid_items_path %></li>
	<% if can? :manage, :users %>
	  <li><%= link_to "Admin", :controller => "admin", :action => "select_user" %></li>
	<% end %>
	<% if user_signed_in? %>
	  <li><%= link_to "Support", :controller => "admin", :action => "mail" %></li>
	<% end %>
</ul>